body {
    margin:0;
    width: 1024px;
    padding:0;
    background:#091e19;
    color:white;
    margin: 0 auto;
}
body, th, td {
    font:19px/1.0em Verdana,sans-serif;
}
#container {
    position:relative;
    min-width:55em;
    max-width:100em;
}
#homepage #container {
    max-width:100em;
}

/* LINKS */

a {text-decoration: none;
  }
a img {border: none;
      }
a:link, a:visited {
    color:#ffc757;
}
#content-main a:link, #content-main a:visited {
    color:#ab5603;
    text-decoration:underline;
}
#content-secondary a:link, #content-secondary a:visited {
    color:#ffc757;
    text-decoration:none;
}
a:hover {
    color:#ffe761;
}
#content-main a:hover {
    background-color:#E0FFB8;
    color:#234f32;
    text-decoration:none;
}
#content-secondary a:hover {
    color:#ffe761;
    background:none;
}
#content-main h2 a, #content-main h3 a {
    text-decoration:none !important;
}

/* HEADER */

#header {
    position:relative;
    height:7.5em;
    background:#091e19;
}


/* NAV */

#nav-global {
    position:absolute;
    margin:0;
    bottom:0;
    right:0;
    font-family:"Trebuchet MS",sans-serif;
    white-space:nowrap;
}
#nav-global li {
    display:block;
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
}
#nav-global a {
    display:block;
    float:left;
    padding:1em 16px 10px 16px;
    background:#091e19;
}
#nav-global a:hover {
    color:white;
    background:#234f32;
}

/* CONTENT */

h1,h2,h3,h4 {
    margin-top:.8em;
    font-family:"Trebuchet MS",sans-serif;
    font-weight:normal;
    width: 1024px;
}
h1 {
    font-size:218%;
    margin-top:.6em;
    margin-bottom:.6em;
    color:#091e19;
    line-height:1.1em;
}
h2 {
    font-size:150%;
    margin-top:1em;
    margin-bottom:.2em;
    line-height:1.2em;
    color:#487858;
}

h4 pre, h4 tt, h4 .literal {
    text-transform:none;
}
h5 {
    font-size:1em;
    font-weight:bold;
    margin-top:1.5em;
    margin-bottom:3px;
}
p, ul, dl {
    margin-top:.6em;
    margin-bottom:.8em;
}
hr {
    color:#ccc;
    background-color:#ccc;
    height:1px;
    border:0;
}
p.date {
    color:#487858;
    margin-top:-.2em;
}
p.more {
    margin-top:-.4em;
}
.sidebar p.date {
    color:#90ba9e;
}
#content-secondary h2, .sidebar h2 {
    color:white;
}
#content-secondary h3, .sidebar h3 {
    color:#9aef3f;
}
#content-secondary h2:first-child {
    margin-top:.6em;
}
.sidebar h2:first-child {
    margin-top:.8em;
}
#content-main h2, #content-main h3 {
    margin-top:1.2em;
}
h2.deck {
    margin-bottom:.6em;
    color:#487858;
}
ins {
    text-decoration: none;
}
ins a {
    text-decoration: none;
}

/* FOOTER */

#footer {
    clear:both;
    color:#487858;
    padding:10px 20px;
    font-size:90%;
}